@font-face {
  font-family: 'VT323';
  src: url('./assets/fonts/VT323-Regular.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  font-weight: 400;
  cursor: url('./assets/images/cursor.cur'), auto;
  scroll-behavior: smooth;
}

*::selection {
  @apply bg-ActiveBlue;
}

a {
  text-decoration: none;
  @apply text-white;
  transition: all 250ms ease;
}


body {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  @apply bg-black;
  background-image: url('./assets/images/bg-01.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.con {
  width: calc(100% - 120px);
  margin: 0 auto;
  overflow-x: hidden;
  border-left: 1px solid;
  @apply border-grey;
}

/* Small screens, typically phones */
@media (max-width: 767px) {

  /* Your CSS styles for small screens go here */
  .con {
    width: calc(100% - 70px);
  }
}

/* Media query for screens with a width between 768px and 1.24px */
@media (min-width: 768px) and (max-width: 1024px) {

  /* Your CSS styles for small screens go here */
  .con {
    width: calc(100% - 90px);
  }
}

/* Large screens, typically laptops */
@media (min-width: 1024px) {
  /* Your CSS styles for large screens go here */
  .con {
    width: calc(100% - 120px);
  }
}